.tire {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.spoke {
    width: 40%;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 10px 15px 1px #999292;
}
.range {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}
.screw {
    width: 94%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 15px;
}
.bolt {
    width: 96%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
.bolt:hover {
    color: white;
    font-weight: bold;
    border: 3px solid black;
    background: linear-gradient( to right, #d360d3 40%, #a729a7 50%, #c627c6 60% );
    background-size: 300%;
    background-position-x: 100%;
    animation : shimmer 1s infinite linear;
}
@keyframes shimmer {
    to {
        background-position-x: 0%;
    }
}
@media ( max-width: 768px ){
    .spoke {
        width: 100%;
    }
    .bolt {
        background-color: purple;
        color: white;
    }
}