.geometry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.circle {
    width: 40%;
    text-align: center;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 10px 15px 6px #787575;
}
.rectangle {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-left: 2%;
    margin-top: 3%;
}
.square {
    width: 96%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 17px;
}
.triangle {
    width: 98%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 5%;
}
.triangle:hover {
    background: linear-gradient(to right, #e1e16e 40%, #949410 50%, #f6f618 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    font-weight: bold;
    border: 3px solid navy;
    color: white;
}
@keyframes shimmer {
    to {
        background-position-x: 0%;
    }
}
@media ( max-width: 768px ) {
    .geometry {
        height: 80vh;
    }
    .circle {
        width: 100%;
    }
    .triangle {
        background-color: yellow;
    }
}