{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Forget Password{%  endblock %}
{%  block content %}


<div class = "london">
    {%  if messages %}
        {%  for message in messages %}
            {% if message.tags == 'error'  %}
                <p class = "error">{{message}}</p>
            {% else  %}
                <p class = "success">{{message}}</p>
            {% endif  %}
        {%  endfor %}
    {%  endif %}
</div>

<div class = "tire">
    <form method = "POST" class = "spoke">
        {%  csrf_token  %}
        <h1>Forget Password Page</h1>
        <div>
            <label class = "range">Email</label>
            <input type = "email" name = "email" placeholder = "Email" class = "screw">
        </div>
        <button type = "submit" class = "bolt">Forget Password</button>
    </form>
</div>



{%  endblock %}