{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Reset Password Page{%  endblock %}
{%  block content %}

<div class = "london">
    {%  if messages %}
        {% for message in messages  %}
            {%  if message.tags == 'error' %}
                <p class = "error">{{message}}</p>
            {%  else %}
                <p class = "success">{{message}}</p>
            {%  endif %}
        {% endfor  %}
    {%  endif %}
</div>

<div class = "geometry">
    <form method = "POST" class = "circle">
        <h1>Reset Password</h1>
        {% csrf_token  %}
        <div>
            <label class = "rectangle">Password</label>
            <input type = "password" name = "password" placeholder = "Password" class = "square">
        </div>
        <div>
            <label class = "rectangle">Confirm Password</label>
            <input type = "password" name = "confirm_password" placeholder = "Confirm Password" class = "square">
        </div>
        <button type = "submit" class = "triangle">Reset Password</button>
    </form>
</div>



{%  endblock %}