{%  extends 'core/base.html'  %}
{%  load static %}
{%  block title %}About Page{%  endblock %}
{%  block content %}


<div class = "mobile">
    <h1>About Page</h1>
    <img src = "{%  static 'core/image/pic_1.jpg' %}" alt = "about picture" class = "description">
    <p>
        We believe there is always a chance for change. Rays of hope can reach to us even in days of darkness. We shall continue to inspire all the people in distress. Our goal is to create change and contribute positively to life for this planet. We shall find each and every opportunity to reach people in need and help them to have a happy life.
    </p>
    <br>
    <p>
        This content is completely imaginary. I have written this content for my `Django Crowd Funding` project named <strong>'AnindaFund'</strong>.
    </p>
    <br>
    <p>
        This Project is based on `Python` and `Django`. The payment method that I have merged is `Stripe`. 
    </p>
</div>




{%  endblock %}