{% load static  %}
<footer>
    <div class = "sofa">
        <div class = "furniture">
            <h1>AnindaFund</h1>
            <p>It's a step towards nobelity and humanity.</p>
        </div>
        <div class = "almirah">
            <a href = "{%  url 'home' %}" class = "table">Home</a>
            <a href = "{%  url 'about' %}" class = "table">About</a>
            <a href = "{%  url 'fund' %}" class = "table">Fund</a>
            <a href = "{%  url 'signup' %}" class = "table">SignUp</a>
            <a href = "{%  url 'login' %}" class = "table">Login</a>
            <a href = "{%  url 'logout' %}" class = "table">Logout</a>
        </div>
    </div>
    <p>&copy;All Rights are Reserved by <strong>ANINDA KUNDU</strong> {% now 'Y'  %}</p>
</footer>